* {
    font-family: "Arial", Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../Images/gpsLocation.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-position-x: 50%;
    background-position-y: 48%;
    
}

label, textarea {
    display: block;
}

.main {
    margin-top: 5%;
    padding: 10px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.986);
    background-color: rgba(0, 0, 0, 0.623);
    font-size: 26px;
}

.main-header {
    text-align: center;
    margin: 30px 20px 20px 20px;
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: normal;
    text-decoration: underline;
}

.main-input-comment {
    margin: 40px 20px 20px 20px;
    color: bisque;
    font-weight: bold;
    text-align: center;
}



.main-comment-area {
    width: 95%;
    border: #ced4da 1px solid;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.main-analyze-button {
    width: 88%;
    padding: 10px;
    border: 1px solid #007bff;
    background-color: #007bff;
    border-radius: 17px;
    color: white;
    text-align: center;
    font-size: 26px;
    
}

.main-analyze-button::-moz-focus-inner {
    border: 0;
}

.main-analyze-button:hover {
    background-color: green;
    border-color: green;
    cursor: pointer;
    font-weight: bolder;
}

.main-result-block {
    text-align: center;
}
.pos {
    color: green;
}
.neg {
    color: darkred;
}
.neutral {
    color: gray;
}

.invisible {
    display:none;
}